@CHARSET "utf-8";
@import url(http://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,500,700,800,900,100italic,300italic,400italic,500italic,700italic,800italic,900italic|Exo+2:400,100,100italic,200italic,200,300,300italic,400italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic&subset=latin,latin-ext,cyrillic);

/*
font-family: 'Alegreya Sans SC', sans-serif;
font-family: 'Exo 2', sans-serif;
*/
/* ALL */
*{
	font-family: 'Exo 2', sans-serif;
	font-weight:normal;
	font-size: 100%;
	color: black;
}

h1{
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	color: rgba(35,32,18, 0.8);
    font-weight: 900;
	font-size: 150%;
	margin: 2%;
	margin-bottom: 4%;
}

h2{
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	color: rgba(35,32,18);
    font-weight: 900;
	margin: 0%;
}

section{
	margin: 0% 10% 5%;
	width: 80%;
	display: inline-block;
}

p{
	word-wrap:break-word;
	clear: both;
}

.needOfBorder{
	border: 1px dotted #a7d043;
}

.needOfBorder2{
	border: 1px dotted red;
}

.minheight{
	height:200px;
}

.hide{
	display: none;
}

.leftFloat{
	float: left;
}

.rightFloat{
	float: right;
}

/*Background*/
body{
background: url('../img/bg/bg-1.jpg') no-repeat fixed center; 
background-size: cover;
animation: ican 100s;
animation-iteration-count: infinite;
-webkit-animation: ican 100s; /* Safari and Chrome */
-webkit-animation-iteration-count: infinite;
}
@keyframes:hover ican{
0% {background: url('../img/bg/bg-1.jpg') no-repeat fixed center;}
10% {background: url('../img/bg/bg-1.jpg') no-repeat fixed center;}
14% {background: url('../img/bg/bg-2.jpg') no-repeat fixed center;}
24% {background: url('../img/bg/bg-2.jpg') no-repeat fixed center;}
28% {background: url('../img/bg/bg-3.jpg') no-repeat fixed center;}
38% {background: url('../img/bg/bg-3.jpg') no-repeat fixed center;}
42% {background: url('../img/bg/bg-4.jpg') no-repeat fixed center;}
52% {background: url('../img/bg/bg-4.jpg') no-repeat fixed center;}
56% {background: url('../img/bg/bg-5.jpg') no-repeat fixed center;}
66% {background: url('../img/bg/bg-5.jpg') no-repeat fixed center;}
70% {background: url('../img/bg/bg-6.png') no-repeat fixed center;}
80% {background: url('../img/bg/bg-6.png') no-repeat fixed center;}
84% {background: url('../img/bg/bg-7.jpg') no-repeat fixed center;}
96% {background: url('../img/bg/bg-7.jpg') no-repeat fixed center;}
100% {background: url('../img/bg/bg-1.jpg') no-repeat fixed center;}
}
@-webkit-keyframes ican { /* Safari and Chrome */
0% {background: url('../img/bg/bg-1.jpg') no-repeat fixed center;}
10% {background: url('../img/bg/bg-1.jpg') no-repeat fixed center;}
14% {background: url('../img/bg/bg-2.jpg') no-repeat fixed center;}
24% {background: url('../img/bg/bg-2.jpg') no-repeat fixed center;}
28% {background: url('../img/bg/bg-3.jpg') no-repeat fixed center;}
38% {background: url('../img/bg/bg-3.jpg') no-repeat fixed center;}
42% {background: url('../img/bg/bg-4.jpg') no-repeat fixed center;}
52% {background: url('../img/bg/bg-4.jpg') no-repeat fixed center;}
56% {background: url('../img/bg/bg-5.jpg') no-repeat fixed center;}
66% {background: url('../img/bg/bg-5.jpg') no-repeat fixed center;}
70% {background: url('../img/bg/bg-6.png') no-repeat fixed center;}
80% {background: url('../img/bg/bg-6.png') no-repeat fixed center;}
84% {background: url('../img/bg/bg-7.jpg') no-repeat fixed center;}
96% {background: url('../img/bg/bg-7.jpg') no-repeat fixed center;}
100% {background: url('../img/bg/bg-1.jpg') no-repeat fixed center;}
}

/*Navigation*/
#navigator{
	margin: 0px auto;
	width:60%;
	margin-bottom: 5%;
}

#menu{
	margin-top: 5%;
}

#one, #two, #logpop{
	margin: 0% 2%;
	padding: 1%;
	text-decoration: none;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
    color: white;
    font-weight: 900;
	float: right;
	background: rgba(35,32,18, 0.8);
	border: none;
}
#one:hover, #two:hover, #logpop:hover{
    color: rgb(35,32,18);
	background: rgba(255,255,255, 0.8);
	cursor: pointer;
}

#logo img{
	display:block;
	margin: auto;
}

#search{
	width: 40%;
	margin:0%;
	padding: 0.4%;
	border: 5px solid rgba(35,32,18, 0.6);
	position: relative;
	background-color: rgba(255,255,255, 0.9);
	background-clip: padding-box;
	vertical-align: middle;
}

#search:focus{
    outline: none;
 }
 

#search_button:hover{
	cursor: pointer;
	background: rgba(255,255,255, 0.6);
}

#search_button:focus{
    outline: none;
 }

#search_button img{
	width: 80%;
}

/*Section parting*/
.sectionParting{
	margin:auto 0.5%;
	padding: 1%;
	border: 5px solid rgba(35,32,18, 0.6);
	position: relative;
	z-index: 10;
}

.sectionParting:after{
	background-color: rgba(255,255,255, 0.9);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	content: '';
	position: absolute;
	display: block;
}

#sec_one_1{
	width: 60%;
	text-align: justify;
}

#sec_one_2{
	width: 32%;
}

#sec_two_1{
	width: 65%;
	margin: auto;
}

/*Login pop settings*/
#sec_logpop{
	position: fixed;
	width:16%;
	height:auto;
	z-index: 30;
	left: 42%;
	top: 30%;
	padding: 1%;
	border: 5px solid rgba(35,32,18, 0.6);
}

#sec_logpop:after{
	background-color: rgba(255,255,255, 0.9);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	content: '';
	position: absolute;
	display: block;
}

#sec_logpop a{
	font-size: 70%;
	margin: 0% 31%;
}

#logpop_overlay{
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	position: fixed;
	background-color: rgba(35,32,18, 0.7);
	z-index: 20;
}

.login_input{
	width: 90%;
	margin: 2% 4%;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	border: 2px solid rgba(35,32,18, 0.6);
	padding-left:3%;
}

.login_input:-webkit-input-placeholder {
    color: rgb(35,32,18);
 }
 .login_input:-moz-placeholder {
    color: rgb(35,32,18);
 }
 .login_input:focus{
    box-shadow: 0 1px 0 #232012 inset, 0 -1px 0 #232012 inset, 1px 0 0 #232012 inset, -1px 0 0 #232012 inset;
    outline: none;
 }
 
#login_submit{
	width: 95%;
    color: white;
    font-weight: 900;
	background: rgba(35,32,18, 0.8);
}

#login_submit:hover{
    color: rgb(35,32,18);
	background: rgba(255,255,255, 0.8);
}

/* Register settings */
.reqstar{
	size: 150%;
	color: #c10606;
	font-weight: 900;
}

.reg_input{
	width: 22%;
	margin: 1% 0.5% 1% 5%;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: uppercase;
	border: 2px solid rgba(35,32,18, 0.6);
	padding-left:3%;
}

.reg_input:-webkit-input-placeholder {
    color: rgb(35,32,18);
 }
.reg_input:-moz-placeholder {
    color: rgb(35,32,18);
 }
.reg_input:focus{
    box-shadow: 0 1px 0 #232012 inset, 0 -1px 0 #232012 inset, 1px 0 0 #232012 inset, -1px 0 0 #232012 inset;
    outline: none;
 }
 
#reg_submit, #reg_check{
    color: white;
    font-weight: 900;
	background: rgb(35,32,18);
	padding: 0.5% 0%;
	font-size: 80%;
	width: 15%;
	text-align: center;
}

#reg_submit:hover, #reg_check:hover{
    color: rgb(35,32,18);
	background: rgba(255,255,255, 0.8);
	cursor: pointer;
}

#reg_submit{
	font-size: 115%;
	width: 70%;
	margin: 5% 38% 3%;
}

#reg_ok{
	visibility: hidden;
}

#reg_checkbox{
	position: relative;
	margin-left:5%;
	width: 70%;
	font-family: 'Alegreya Sans SC', sans-serif;
	text-transform: none;
	border: none;
}

#reg_checkbox label {
	cursor: pointer;
	position: absolute;
	width: 23px;
	height: 23px;
	top: 0;
  	left: 0;
	background: white;
	border: 2px solid rgba(35,32,18, 0.6);
}

#reg_checkbox label:after {
	opacity: 0.2;
	content: '';
	position: absolute;
	width: 9px;
	height: 5px;
	background: transparent;
	top: 5px;
	left: 6px;
	border: 3px solid rgb(35,32,18);
	border-top: none;
	border-right: none;

	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

#reg_ok:checked + label:after {
	opacity: 1;
}

/*Register pop settings*/
#sec_regpop{
	position: fixed;
	width:16%;
	height:auto;
	z-index: 30;
	left: 42%;
	top: 30%;
	padding: 1%;
	border: 5px solid rgba(35,32,18, 0.6);
}

#sec_regpop:after{
	background-color: rgba(255,255,255, 0.9);
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index: -1;
	content: '';
	position: absolute;
	display: block;
}

/*Recipe small new list style*/
.rec_small{
	padding-top: 20px;
	width: 95%;
	margin: 1% auto;
	border: 2px solid rgba(35,32,18, 0.6);
	min-height: 120px;
}

.rec_small_image{
	background: url('../img/unknown-rec.png') no-repeat;
	background-size: 100%;
	width: 10%;
	height: 30px;/*
	margin: 2%;
	border-radius: 10%;*/
}

.rec_small_text {
	width: 70%;
	padding-left: 5%;
}

/*Recipe hover trick*/
.rec_small_hover_on{
	display: none;
}

.rec_small:hover .rec_small_hover_off{
	display: block;
}

.rec_small:hover .rec_small_hover_on{
	display: none;
}


/*** FOOTER ***/
footer{
	margin: 0% 3% 0% 0%;
	width: 80%;
	bottom:0px;
	right: 0px;
	position: fixed;
	height:5%;
	text-align: right;
	color:white;
	overflow: hidden;
	font-size: 80%;
}

footer .spanline{
	color: white;
	font-weight: 900;
	margin: 0% 1%;
}
#go-to-top {
	color: white;
}
#go-to-top:visited {
	color: white;
}

#copyright{
	position: fixed;
	top: 1px;
	right: 0px;
	z-index: -999;
	font-size: 50%;
	width: 15%;
}

#copyright img{
	width: 50%;
	float: right;
}

#copyright table{
	margin:0px;
	clear:both;
	text-align:center;
	}
	
#copyright td, tr{
	color:YellowGreen;
	padding:0%;
	border-style: none;
	}

#loginBorder {
	width: 200px;
	margin: auto;
	padding: auto;
}
#submitbutton {
	text-align: right;
}
.rakstamkopa {
	text-align: left;
}
#regLinks {
	font-weight: 700;
	color: black;
}
#regLinks:hover {
	color: rgba(35,32,18, 0.8);
}
[name=search_submit] {
	width: 14%;
	color: white;
    font-weight: 900;
	background: rgba(35,32,18, 0.8);
	border: none;
	margin: 0%;
	padding: 0.78% 0%;
	vertical-align: middle;
}
[name=search_submit]:hover{
	cursor: pointer;
	background: rgba(255,255,255, 0.6);
	color: rgba(35,32,18, 0.8);
}

[name=search_submit]:focus{
    outline: none;
 }
 [value="Veikt jaunu receptes ierakstu"] {
	width: 54%;
	color: white;
        font-weight: 700;
	background: rgb(35,32,18);
	border: none;
	margin: 0%;
	padding: 0.78% 0%;
	vertical-align: middle;
        border: 2px solid rgba(35,32,18, 0.6);
}
[value="Veikt jaunu receptes ierakstu"]:hover{
	cursor: pointer;
	background: rgba(255,255,255, 0.6);
	color: rgb(35,32,18);
}

[value="Veikt jaunu receptes ierakstu"]:focus{
    outline: none;
 }
 [name="search"] {
 		width: 30%;
	margin:0%;
	padding: 0.4%;
	border: 3px solid rgba(35,32,18, 0.6);
	position: relative;
	background-color: rgba(255,255,255, 0.9);
	background-clip: padding-box;
	vertical-align: middle;
 }
 [name="login_submit"] {
 	width: 54%;
	color: white;
        font-weight: 700;
	background: rgb(35,32,18);
	border: none;
	margin: 0%;
	padding: 0.78% 0%;
	vertical-align: middle;
        border: 2px solid rgba(35,32,18, 0.6);
 }
 [name="login_submit"]:hover{
	cursor: pointer;
	background: rgb(255,255,255);
	color: rgb(35,32,18);
}

[name="login_submit"]:focus{
    outline: none;
 }